<% content_for :title, "상품 정보 수정" %>

<div class="max-w-5xl mx-auto">
  <div class="mb-6">
    <h1 class="text-2xl font-bold">상품 정보 수정</h1>
    <p class="text-zinc-400 mt-1"><%= @product.name %></p>
  </div>
  
  <%= render 'form' %>
</div>