<div class="max-w-5xl mx-auto pb-20">
  <div class="mb-6">
    <h1 class="text-2xl font-bold">상품 수정</h1>
    <p class="text-zinc-600 mt-1"><%= @business.name %> - <%= @product.name %></p>
  </div>
  
  <%= render 'form' %>
</div>