<div class="max-w-5xl mx-auto">
  <div class="mb-6">
    <h1 class="text-2xl font-bold">새 상품 등록</h1>
    <p class="text-zinc-600 mt-1"><%= @business.name %></p>
  </div>
  
  <%= render 'form' %>
</div>